.classOne{
    color: blue;
}

.classTwo{
    color: brown;
}

input.ng-invalid {
    border-left-color: red;
    border-left-width: 0.2cm;
}
input.ng-valid {
    border-left-color: lightgreen;
    border-left-width: 0.2cm;
}

:host {
    display: block;
    font-size: '20';
    font-family:  'Times New Roman', Times, serif;
  }     