
img {
  display: block;
}

.explanation {
  margin: 1rem 0;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 300;
}
.title {
  text-align: center;
 }
 td {
  vertical-align:middle;
  text-align:center;
}