<th>Load data from mockup API:</th>
<div class="container">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Age</th>
                <th>Status</th>
                <th>Create At</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let employee of employees">
                <td>{{employee.name}}</td>
                <td>{{employee.age}}</td>
                <td>{{employee.status}}</td>
                <td>{{employee.created | date}} </td>
                <td><a [routerLink]="['/employee-detail',employee.id]">Show Detail</a></td>
            </tr>
        </tbody>
    </table>
</div>