<th>Load data from mockup API:</th>
<br>
<div class="form container">
    <div class="form-group row">
        <div class="col-md-8">
            <input type="text" [(ngModel)]="keyword" name="keyword" (ngModelChange)="Search($event)"/>
            <button (click)="Search()">Search</button>
        </div>
        <div class="col-md-4">
            <a class="btn btn-success" [routerLink]="['/employee-add']">Add New</a>
        </div>
    </div>
</div>
<div class="container">
    <table class="table table-bordered table-striped">
        <thead>
            <tr class="table-active" align="center">
                <th style="text-align: left">Name</th>
                <th >Age</th>
                <th>Status</th>
                <th>Create At</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let employee of employees">
                <td>{{employee?.name}}</td>
                <td align="center">{{employee?.age}}</td>
                <td align="center" >{{employee?.status}}</td>
                <td align="center">{{employee?.created | date}} </td>
                <td align="center">
                    <a [routerLink]="['/employee-detail',employee.id]">Show Detail</a>
                    <a [routerLink]="['/employee-edit',employee.id]" class="btn btn-primary">Edit</a>
                    <button class="btn btn-danger" (click)="Delete(employee.id)">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
    
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                </a>
            </li>
            <li class="page-item" *ngFor="let page of pages">
                <a class="page-link" [routerLink]="['/employee']" [queryParams]="{pageNumber:page, filter:'a'}">{{page}}</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                </a>
            </li>
        </ul>
    </nav>
</div>