
<form class="form-horizonal" #f="ngForm" method="POST" (ngSubmit)="CheckLogin(f.value)">
    <div class="form-group">
        <label class="col-md-2"> UserName</label>
        <div class="col-md-10>">
            <input type="text" class="form-control" name="userName" #name="ngModel" ngModel
            placeholder="Enter username">
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2"> Password</label>
        <div class="col-md-10>">
            <input type="password" class="form-control" name="password"  #password="ngModel" 
            ngModel placeholder="Enter password">
        </div>
    </div>
    <div class="form-group form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="checkbox"> Remember me
            </label>
          </div>
    <div class="form-group"> 
        <div class="col-md-10>">
            <button type="submit">Submit</button>
        </div>
    </div>
   
</form>