
<h2>
    {{title1 }}</h2>
<!-- to resolve issue: Cannot read property 'minlength' of null, 
we can use ? before to check object has definded-->

<div>
    <input type="radio" nameColor="colors" (click)="color='lightgreen'">Green
    <input type="radio" nameColor="colors" (click)="color='yellow'">Yellow
    <input type="radio" nameColor="colors" (click)="color='cyan'">Cyan
</div>
<p [appHighlight]="color">Highlight me!</p>

<div>
    Username :
    <input type="text" (change)="onChange($event)" class="form-control1" minlength="6" maxlength="10" required name="userName"
        #name="ngModel" ngModel>

    <div *ngIf="name.invalid" class="alert alert-danger">Invalid length data</div>
    <div [hidden]="!name.errors?.minlength">userName must be at least 6 characters</div>
    <div [hidden]="!name.errors?.required">Field must be required!</div>
</div>

<div>
    Password :
    <input type="password" (change)="onChangePass($event)" class="form-control1" minlength="8" maxlength="16" required name="password"
        #pass="ngModel" ngModel>
    <div *ngIf="pass.invalid" class="alert alert-danger">Invalid password</div>
    <br>
    <button (click)="onClick()">Submit</button>
</div>


<ul>
    <li *ngFor="let msg of msgs">
        Welcome to user: {{msg}}
    </li>
</ul>



