





















<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  
</div>
First Name: <input type="text" [(ngModel)]="fname"/> 
<br>
<br>
Last Name: <input type="text" [(ngModel)]="lname"/>
<br>
Full name is: {{fname}} {{lname}}


<!-- ng-if-->
<h3 ng-if="showlineIf">This is engIf directive line</h3>

<!-- ngSwitch-->
<div [ngSwitch]="color">
  <p *ngSwitchCase=" 'red' ">This is red line</p>
  <p *ngSwitchCase=" 'yellow' ">This is yellow line</p>
  <p *ngSwitchCase=" 'blue' ">This is blue line</p>
  <div *ngSwitchCase=" 'xxx' ">Invalid color</div>

</div>
<!-- ngFor-->
<div *ngFor="let color of colors">  
    <h2><li>{{color}}</li> </h2>
</div>

<!-- ngClass-->
<p [ngClass]="{classOne:cOne, classTwo:cTwo}">using css in here</p>
<button (click)="toggle()">change text color</button>

<!--  Component Interaction-->
<br>
<br>
<input type="text" #textname (keyup) ="0" />
<p>{{name}}</p>




