<section>

    <!-- Header -->
    <ul class="nav nav-pills navbar-expand-sm bg-dark navbar-dark" role="tablist">
              
        <div (click)="CheckStatusLogin($event)">
            <li class="nav-item">
                <a class="navbar-brand" data-toggle="pill" routerLink="/" routerLinkActive="active">Home</a>
            </li>
        </div>
        <div (click)="CheckStatusLogin($event)">
            <li class="nav-item">
                <a class="nav-link" data-toggle="pill" routerLink="/employee" routerLinkActive="active">Employee List</a>
            </li>
        </div>
        <div (click)="CheckStatusLogin($event)">
            <li class="nav-item">
            <a class="nav-link" data-toggle="pill" routerLink="/typescript" routerLinkActive="active">Type Script</a>
        </li>
        </div>       
        <div *ngIf="!isLoggedIn" (click)="CheckStatusLogin($event)">
            <li class="nav-item">
                <a class="nav-link" data-toggle="pill" routerLink="/login" routerLinkActive="active">Login</a>
            </li>
        </div>
        <div *ngIf="isLoggedIn"(click)="CheckStatusLogin($event)" >
            <li class="nav-item">
                <a class="nav-link" (click)="Logout()" data-toggle="pill" routerLink="/logout" routerLinkActive="active">Logout</a>
            </li>
        </div>
    </ul>
</section>
<router-outlet>

</router-outlet>

<section>
    <footer>
        <i>
            <p>Developed by: NhutLe</p>
            <p>Contact information:
                <a href="mailto:nhutlbuit@gmail.com">
                    nhutlbuit@gmail.com</a>.</p>
        </i>
    </footer>
</section>